# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
env/
eye_env/
.venv/

# OS files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/

# Log files
*.log

# Media/large files (optional: track your alarm.wav and face_landmarker.task separately if needed)
*.wav
*.mp3
*.task

# PyInstaller build
dist/
build/
*.spec

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
